
@import '../app/styles/const.module';

.ticket {
   @extend %flex-column-stretch;
   max-width: 400px;
   margin: 0 auto 10px;
   padding: 6px;
   border: 1px solid $ticket-border;
   border-radius: 5px;
   box-shadow: 0 1px 5px rgb(0 0 0 / 15%);
   background-color: $ticket-background;
   @media (min-width:360px) {
      padding: 6px 10px;
   }
   @media (min-width:400px) {
      padding: 6px 16px;
   }
   @media (min-width:600px) {
      max-width: 100%;
   }

   &Header {
      @extend %flex-row-center;
      justify-content: space-between;
      padding-bottom: 10px;
   }

   &Price {
      color: $ticket-price;
      font: {
         family: OpenSansSemibold;
         size: 1.5em;
      }
      line-height: 1.5em;
   }

   &Carriers {
      margin-left: auto;
   }

   &Carrier {
      display: inline-block;
      position: relative;
      vertical-align: top;
      font-size: 0;

      &List {
      @extend %flex-row-center;

         &Item {
            display: inline-block;
            line-height: 0;
         }
      }

      &Img {
         width: auto;
         max-height: 30px;
      }
   }

   &Body {
      @extend %flex-column-stretch;
   }
}

.price {
   white-space: nowrap;
}

.currencySign {
   font-family: -apple-system,Roboto,Currency Font,Helvetica,Arial,sans-serif;
}
