@import '../app/styles/const.module';

.flight {
   width: 33.33%;

   &Label {
      font: {
         family: OpenSansSemibold;
         size: 11px;
      }
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: $ticket-label-font;
      @media (min-width:768px) {
         font-size: 12px;
      }
   }
   &Value {
      font: {
         family: OpenSansSemibold;
         size: 12px;
      }
      line-height: 1.5em;
      margin: 0;
      color: $ticket-value-font;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @media (min-width:768px) {
         font-size: 14px;
      }
   }
}
