
@import '../app/styles/const.module';

.flight {
   &:nth-child(1) {
      width: 35%;
      @media (min-width:700px) {
         width: 40%;
      }
   }
   &:nth-child(2) {
      width: 30%;
      padding: 0 6px;
      @media (min-width:700px) {
         width: 30%;
      }
   }
   &:nth-child(3) {
      width: 35%;
      @media (min-width:700px) {
         width: 30%;
      }
   }
   &Label {
      font: {
         family: OpenSansSemibold;
         size: 11px;
      }
      line-height: 18px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: $ticket-label-font;
      @media (min-width:768px) {
         font-size: 14px;
      }
   }
   &Value {
      font: {
         family: OpenSansSemibold;
         size: 14px;
      }
      line-height: 1.5em;
      margin: 0;
      color: $ticket-value-font;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @media (min-width:768px) {
         font-size: 16px;
      }
   }
}
