@import '../app/css/const.module';

.footer {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: $footer-background;
  border-radius: 5px;
  cursor: pointer;
  
  &Text {
    font: {
      family: OpenSansSemibold;
      size: 0.75em;
    };
    line-height: 20px;
    text-transform: uppercase;
    color: $footer-text;
  }
}