@import './normalize.css';
@import './const.module';
@import './fonts.module';

body {
  background-color: $body-background;
}

.app {
  @extend %flex-column-center;
  min-width: 290px;
  max-width: 800px;
  margin: {
    left: auto;
    right: auto;
  }
  font: {
    family: OpenSansRegular, sans-serif;
    size: 16px;
  }
  line-height: 16px;
  vertical-align: bottom;
}

.main {
  @extend %flex-column-center;
  @media (min-width:320px) {
    padding: 0 10px;
  }
  @media (min-width:320px) {
    padding: 0 20px;
  }
  @media (min-width:600px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;
  }
}

.tickets {
  @extend %flex-column-center;
  @media (min-width:768px) {
    min-width: 400px;
  }
}
